<web-app>
	
	<error-page>
		<exception-type>java.io.FileNotFoundException</exception-type>
		<location>/error.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.ClassNotFoundException</exception-type>
		<location>/cnf.jsp</location>
	</error-page>
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	
</web-app>